.card {
  display: flex;
  align-items: center;
  height: 55px;
  padding: 4px 0;
  line-height: 1;
  font-family: Roboto, sans-serif;
  border-bottom: 1px solid #eef1f4;
  cursor: pointer;

  &:hover {
    background: cornsilk;
  }

  &__priority {
    height: 100%;
    width: 6px;
    min-width: 6px;
    border-radius: 3px;

    &_lesser {
      background: #fef6f6;
    }

    &_low {
      background: #fbd6b9;
    }

    &_middle {
      background: #f75394;
    }

    &_high {
      background: #b32c55;
    }

    &_critical {
      background: #ee0909;
    }
  }

  &__id {
    text-align: center;
    width: 110px;
    min-width: 110px;
    padding: 0 16px;
  }

  &__name {
    width: 420px;
    min-width: 420px;
    padding: 0 16px;
  }

  &__status {
    display: flex;
    width: 116px;
    min-width: 116px;
    padding: 0 16px;
    font-size: 12px;
    color: white;
    white-space: nowrap;
  }

  &__icon {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0 16px;
    border-radius: 12px;
  }

  &__executor {
    padding: 0 16px;
    white-space: nowrap;
  }
}
