.sider {
  position: fixed;
  left: 0;
  height: 100vh;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  overflow: auto;

  max-width: inherit !important;
  min-width: inherit !important;
  width: 95px !important;
  flex: 0 0 95px !important;
  background: #002137 !important;

  &__logo {
    margin: 16px auto;
  }

  &__menu {
    text-align: center;

    background: #002137 !important;
  }

  &__menu-item {
    height: 100px !important;
    padding: 0 !important;
  }
}
