.task {
  line-height: 1;

  position: absolute;
  top: 0;
  left: 535px;
  width: calc(100% - 535px);
  border-left: 1px solid #d7dce0;
  background: #ecf3f7;
}

.header {
  font-family: Roboto, sans-serif;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  color: white;
  background: #1a4876;

  &__title {
    display: flex;
    align-items: center;
    padding: 0 40px;
  }

  &__id {
    padding-right: 25px;
    white-space: nowrap;
  }

  &__name {
    width: 596px;

    text-align: left;
  }

  &__close {
    margin: 0 30px 0 154px;
    cursor: pointer;
    text-align: right;
  }
}

.form {
  overflow-x: hidden;
  overflow-y: scroll !important;

  height: calc(100vh - 126px);
}
