.cards {
  margin-left: 4px;
  text-align: left;

  &__headers {
    display: flex;
    justify-content: left;
    margin: 12px 0;
    font-weight: 500;
  }

  &__id {
    text-align: center;
    min-width: 116px;
    padding: 0 16px;
  }

  &__name {
    min-width: 420px;
    padding: 0 16px;
    border-left: 1px solid #e2e7ea;
  }

  &__status {
    min-width: 116px;
    padding: 0 16px;
    border-left: 1px solid #e2e7ea;
  }

  &__executor {
    padding: 0 16px;
    border-left: 1px solid #e2e7ea;
  }

  &__border {
    border-bottom: 1px solid #dae0e7;
  }

  &__content {
    height: calc(100vh - 204px);
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
