.cards {
  margin-left: 4px;
  text-align: left;
}

.header {
  font-weight: 500;

  display: flex;
  justify-content: left;
  margin: 12px 0;

  &__id {
    min-width: 116px;
    padding: 0 16px;

    text-align: center;
  }

  &__name {
    min-width: 420px;
    padding: 0 16px;
    border-left: 1px solid #e2e7ea;
  }

  &__status {
    min-width: 200px;
    padding: 0 16px;
    border-left: 1px solid #e2e7ea;
  }

  &__executor {
    padding: 0 16px;
    border-left: 1px solid #e2e7ea;
  }
}

.border {
  border-bottom: 1px solid #dae0e7;
}

.content {
  overflow-x: hidden;
  overflow-y: scroll;

  height: calc(100vh - 204px);
}
